
WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
/WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad
WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
